<html>
<body>
<%= form_tag :action => 'admin/reg'%>
<p>UserName : <%= text_field :Admin, :username%><P>
<p>Password : <%= password_field :Admin, :password%><P>

<%= submit_tag "Register"%>
<%= form_tag%>
</body>
</html>
